/* Srart Work Sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* End Work Sans font */
/* Start variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755; 
    --black-color: #333;
    --main-duration: .5s; 
    --special-color: #f6f6f6;
}
/* End variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Work Sans", sans-serif;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* Small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start componentes */
.special-header {
    text-align: center;
    margin-bottom: 60px;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -5px;
    margin: 0;
    margin-top: 50px;
    color: #ebeced;
}
.special-header + p {
    margin-top: -35px;
    color: #797979;
    text-align: center;
    font-size: 20px;
}
@media (max-width:768px) {
    .special-header h2{
        font-size: 60px;
    }
    .special-header h2 + p {
        font-size: 15px;
        margin-top: -20px;
    }
}
/* End componentes */
/* Start header  */
header {
    padding: 20px;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container img {
    width: 60px;
}
header .container .links {
    position: relative;
}
header .container .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
header .container .links .icon span {
    background-color: var(--black-color);
    height: 2px;
    margin-bottom: 6px;
}
header .container .links .icon span:first-child {
    width: 100%;
}
header .container .links .icon span:nth-child(2) {
    width: 60%;
    transition-duration: var(--main-duration);
}
header .container .links .icon span:last-child {
    width: 100%;
}
header .container .links:hover .icon span:nth-child(2) {
    width: 100%;
}
header .container .links ul {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: var(--special-color);
    min-width: 150px;
    border-radius: 5px;
    z-index: 1;
}
header .container .links:hover ul {
    display: block;
}
header .container .links ul::before {
    content: '';
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--special-color) transparent;
    top: -20px;
    right: 5px;
}
header .container .links ul li {
    padding: 13px;
}
header .container .links ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
header .container .links ul li a {
    display: block;
    text-decoration: none;
    color: var(--black-color);
    transition-duration: var(--main-duration);
}
header .container .links ul li a:hover {
    padding-left: 10px;
}
/* Start landing section */
.landing {
    background-image: url(../images/header.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 100%;
    line-height: 1.8;
}
.landing .intro-text h1 {
    font-size: 50px;
    margin: 0;
    color: var(--main-color);
    font-weight: 800;
    text-align: center;
}
.landing .intro-text p {
    line-height: 1.8;
    font-size: 19px;
}
/* End landing section */
/* Start features */
.features {
    background-color: var(--special-color);
    padding-top: 80px;
    padding-bottom: 80px;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
    text-align: center;
}
.features .container i {
    color: var(--main-color);
    font-size: 40px;
}
.features .container .text h1 {
    margin: 0;
    line-height: 1.8;
    font-weight: 800;
}
.features .container .text p {
    line-height: 1.8;
}
.features .container .feature {
    padding: 20px;
    transition-duration: var(--main-duration);
}
.features .container .feature:hover {
    box-shadow: 2px 2px 2px 0px black;
}
/* End features */
/* Start services */
.services {
    padding-top: 60px;
    padding-bottom: 60px;
}
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 100px;
}
.services .services-content .srv {
    display: flex;
}
@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center; 
        align-items: center;
    }
}
.services .services-content .srv i {
    flex-basis: 60px;
    color: var(--main-color);
}
.services .services-content .srv .text {
    flex: 1;
    margin-bottom: 50px;
}
.services .services-content .srv .text h3 {
    margin: 0;
    font-weight: 800;
}
.services .services-content .srv .text p {
    color: #777;
    line-height: 1.6;
}
.services .services-content .image {
    width: 300px;
    position: relative;
}
.services .services-content .image img {
    width: 100%;
}
.services .services-content .image::before {
    content: '';
    width: 100px;
    height: calc(100% + 100px);
    background-color: var(--secondary-color);
    position: absolute;
    top: -50px;
    right: -40px;
    z-index: -1;
}
@media (max-width: 1199px) {
    .image-column {
        display: none;
    }
}
/* End services */
/* Start portfolio */
.portfolio {
    background-color: var(--special-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.portfolio .port-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 50px;
}
.portfolio .port-content .port-card {
    background-color: white;
}
.portfolio .port-content .port-card img {
    width: 100%;
}
.portfolio .port-content .port-card .text {
    padding: 20px;
}
.portfolio .port-content .port-card .text h3 {
    margin: 0;
}
/* End portfolio */
/* Start about */
.about .content img {
    width: 250px;
    margin-top: 40px;
    margin-bottom: 90px;
    margin-right: 190px;
}
.about .content .image {
    position: relative;
}
.about .content .image::before {
    content: '';
    height: calc(100% + 20px);
    width: 100px;
    position: absolute;
    top: -35px;
    left: -30px;
    background-color: #ebeced;
    z-index: -1;
}
.about .content .image::after {
    content: '';
    width: 140px;
    height: 240px;
    position: absolute;
    top: -14px;
    left: 208px;
    border-bottom: solid 60px var(--main-color);
    border-left: solid 70px var(--main-color);
    z-index: -1;
}
.about .content {
    display: flex;
    align-items: center;
}
@media (max-width: 767px) {
    .about .content {
        flex-direction: column;
    }
    .about .content img {
        margin: 30px auto;
    }
    .about .content .image::before,
    .about .content .image::after {
        display: none;
    }
}
.about .content .text p:first-of-type {
    font-weight: 800;
    margin-bottom: 60px;
    line-height: 1.8;
}
.about .content .text p:last-of-type {
    font-weight: 300;
    margin-top: 30px;
    line-height: 1.8;
    position: relative;
}
.about .content .text p:last-of-type::before {
    content: '';
    height: 2px;
    width: 300px;
    position: absolute;
    top: -20px;
    background-color: var(--main-color);
}
/* End about */
/* Start contact */
.contact {
    background-color: var(--special-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.contact .contact-details {
    text-align: center;
    margin-top: 60px;
}
.contact .contact-details h3 {
    color: var(--secondary-color);
    font-size: 35px;
    font-weight: 800;
    margin: 0 0 10px 0;
}
.contact .contact-details a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 35px;
    font-weight: 800;
}
/* End contact */
/* Start footer */
footer {
    background-color: var(--secondary-color);
    padding-top: 10px;
    padding-bottom: 10px;
}
footer p {
    text-align: center;
    color: white;
    font-size: 16px;
}
footer p span {
    color: var(--main-color);
    font-weight: bold;
}
/* End footer */